{% extends "mainapp/layout.html" %}
{% block pagename %}Downloads{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<h1>Downloads</h1>
		<p>You can download the latest incremental nightlies here.</p>
		<ul>
			<li><a href="#">Nightly 1 - 25GB</a></li>
			<li><a href="#">Nightly 2 - 25GB</a></li>
			<li><a href="#">Nightly 3 - 25GB</a></li>
			<li><a href="#">Nightly 4 - 25GB</a></li>
			<li><a href="#">Nightly 5 - 25GB</a></li>
			<li><a href="#">Nightly 6 - 25GB</a></li>
		</ul>
	</div>
</div>
{% endblock %}
