{% extends "mainapp/layout.html" %}
{% load static %}
{% block pagename %}Homepage{% endblock %}
{% block headadditions %}
<style>
	.render-pane {
		min-height: 256px;
	}
</style>
<script type="importmap">
	{
		"imports": {
			"three": "{% static '/mainapp/lib/three/three.module.js' %}",
			"three/addons/": "{% static 'mainapp/lib/three/' %}"
		}
	}
</script>
{% for model in models %}
<link rel="preload" href="/api/model/{{ model.model_id }}/{{ model.revision }}" as="fetch" crossorigin>
{% endfor %}
{% endblock %}
{% block body %}
<div class="container">
	<div class="col-12">
		<h1>3D Model Repository</h1>
        <p>This is a repository for storing models for use in OSM 3D visualizers. Login using OSM OAuth on the top right. There is a <a href="https://wiki.openstreetmap.org/wiki/3D_Model_Repository">wiki page</a> and a <a href="https://gitlab.com/n42k/3dmr">GitLab repository</a> available. You may also express your thoughts on the <a href="https://forum.openstreetmap.org/viewtopic.php?pid=677724">3D subforum</a> of the OSM forums.</p>
	</div>
	<hr>
	<div class="row flex">
		{% for model in models %}
			{% include "mainapp/modelpanel.html" %}
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block footeradditions %}
<script type="module" src="{% static 'mainapp/preview.js' %}"></script>
<script>
	function displayPreview(elementId, model_id, revision, options) {
		const url = "/api/model/" + model_id + "/" + revision;

		if(typeof options === 'undefined')
			options = {};

		const three = initTHREE(elementId, options);
		loadGLB(url, options, three);
	}

	window.addEventListener("load", function() {
		const elems = document.querySelectorAll('div.render-pane');
		
		for(const elem of elems) {
			const model_id = elem.dataset.model;
			const revision = elem.dataset.revision;
			displayPreview(elem.id, model_id, revision);
		}
	});
</script>
{% endblock %}
