{% extends "mainapp/layout.html" %}
{% block pagename %}Map{% endblock %}
{% block headadditions %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin=""></script>
<style>
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#mapdiv {
	display: block;
	position: absolute;
	height: auto;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-top: 50px;
}
</style>
<script>
function rangeSearch(latitude, longitude, range, callback, page) {
	var xhr = new XMLHttpRequest();
	xhr.addEventListener("load", function() {
		callback(JSON.parse(xhr.responseText));
	});
	xhr.open("GET", "/api/search/" + latitude + "/" + longitude + "/" + range + "/" + page);
	xhr.send();
}

function modelGet(model_id, callback) {
	var xhr = new XMLHttpRequest();
	xhr.addEventListener("load", function() {
		callback(JSON.parse(xhr.responseText));
	});
	xhr.open("GET", "/api/info/" + model_id);
	xhr.send();
}

var model_ids = new Set();
var page = 1;
function queryModels(response) {
	if(typeof response !== 'undefined') {
		if(response.length == 0)
			return;
		else for(var i in response) {
			var model_id = response[i];

			if(model_ids.has(model_id))
				continue

			modelGet(model_id, addPin);
		}
	}

	var center = map.getCenter();

	var bounds = map.getBounds();
	var corner = bounds.getNorthEast();

	var distance = map.distance(center, corner);

	rangeSearch(center.lat, center.lng, distance, queryModels, page);
	page++;
}

function addPin(model)
{
	var latitude = model["lat"];
	var longitude = model["lon"];

	L.marker([latitude, longitude])
		.bindPopup('<a href="/model/' + model["id"] + '">' + model["title"] + '</a>')
		.addTo(map);

	model_ids.add(model["id"]);
}
</script>
{% endblock %}
{% block body %}
<div id="mapdiv"></div>
<script>
	var map = L.map('mapdiv').setView([48.858, 2.294], 17);
	L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
		attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
		minZoom: 2,
		maxZoom: 18
	}).addTo(map);

	map.on("moveend", function() {
		page = 1;
		queryModels();

	});

	queryModels();
</script>
{% endblock %}
