{% extends "mainapp/layout.html" %}
{% block pagename %}TODO: Model Name{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>Eiffel Tower</h3>
			<p>Model ID: 423</p>
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Categories</p>
					<p><a href="{% url 'search' %}?category=Monuments">Monuments</a></p>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Tags</p>
					<p>
						<a href="{% url 'search' %}?tag=shape=pyramidal">shape=pyramidal</a>
						<a href="{% url 'search' %}?tag=building=yes">building=yes</a>
						<a href="{% url 'search' %}?tag=tourism=attraction">tourism=attraction</a>
					</p>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Description</p>
					<p>A model of the world famous Eiffel Tower.</p>
				</div>
			</div>
			<p>Uploaded by <a href="{% url 'user' user_id=421 %}">n42k</a> on 2017-03-28</p>
		</div>
		<div class="col-md-8">
			<br>
			<ul class="nav nav-tabs">
				<li class="active"><a href="#">3D View</a></li>
				<li><a href="#">Map View</a></li>
			</ul>
			<img src="http://placehold.it/750x480" alt="Eiffel Tower">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Comments</h3>
			</div>
			<div class="panel-body">
				<div class="panel panel-default">
					<div class="panel-body">
						I've technically been here!
					</div>
					<div class="panel-footer">
						<a href="{% url 'user' user_id=421 %}">n42k</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
