{% extends "mainapp/layout.html" %}
{% block pagename %}{{ model.title }}{% endblock %}
{% block headadditions %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin=""></script>
<style>
#mapdiv {
	width: 750px;
	height: 480px;
}
</style>
<script>
function addComment() {
	var comment = document.getElementById("comment");

	// refuse if comment is empty
	if(comment.value == "") {
		alert("Empty comments aren't allowed.");
		return false;
	}

	var request = new XMLHttpRequest();
	var comment_url = "{% url 'addcomment' %}";
	request.open("POST", comment_url, true);
	request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	request.onreadystatechange = function() {
		if(request.readyState == 4 && request.status == 200)
			commentAdded(request.responseText);
	};
	
	var form = document.getElementById("comment_form");
	var csrf = form.children[0];

	var params = "comment=" + encodeURIComponent(comment.value);
	params += "&" + csrf.name + "=" + csrf.value;
	params += "&model_id={{ model.model_id }}&revision={{ model.revision }}";
	request.send(params);

	comment.value = "";

	return false;
}

function commentAdded(json) {
	var fields = JSON.parse(json)

	if(fields["success"] == "no") {
		alert(fields["error"]);
		return;
	}

	var html = '<div class="panel panel-default">';

	html += '<div class="panel-body panel-new"';
	html += fields["comment"];
	html += '</div>'; // end of .panel-body

	html += '<div class="panel-footer">';
	html += '<a href="{% url 'user' '' %}' + fields["author"] + '">';
	html += '<span class="label label-default">'
	html += fields["author"];
	html += '</span>';
	html += '</a>'

	// possibly find a library for this?
	var datetime = new Date(fields.datetime);
	var datestr = datetime.getFullYear() + "-"
	datestr += ("0" + (datetime.getMonth() + 1)).slice(-2) + "-";
	datestr += ("0" + (datetime.getDate())).slice(-2) + " ";
	datestr += ("0" + (datetime.getHours())).slice(-2) + ":";
	datestr += ("0" + (datetime.getMinutes())).slice(-2);

	html += ' on ' + datestr;
	html += '</div>'; // end of .panel-footer

	html += '</div>'; // end of .panel.panel-default
	
	// we'll place the returned comment after this element
	var previousElement = document
		.getElementById("comment_form")
		.parentElement
		.children[1]
	previousElement.insertAdjacentHTML("afterEnd", html);
	previousElement.scrollIntoView();
}
</script>
{% load static %}
<script src="{% static 'mainapp/lib/three.js' %}"></script>
<script src="{% static 'mainapp/lib/OBJLoader.js' %}"></script>
<script src="{% static 'mainapp/lib/MTLLoader.js' %}"></script>
<script src="{% static 'mainapp/lib/OrbitControls.js' %}"></script>
<script src="{% static 'mainapp/lib/zip.js' %}"></script>
<script src="{% static 'mainapp/lib/zip-ext.js' %}"></script>
<script src="{% static 'mainapp/preview.js' %}"></script>
<script>
displayPreview("render-pane", {{ model.model_id }}, {{ model.revision }}, {width: 750, height: 480});
</script>
<script src="{% static 'mainapp/map.js' %}"></script>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<br>
			<ul class="nav nav-tabs" role="tablist" onchange="tabChange();">
				<li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#view" role="tab">3D View</a></li>
				{% if model.latitude and model.longitude %}
				<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#map" role="tab">Map</a></li>
				{% endif %}
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="view" role="tabpanel">
					<div id="render-pane">
					</div>
				</div>
				{% if model.latitude and model.longitude %}
				<div class="tab-pane" id="map" role="tabpanel">
					<div id="mapdiv">
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col-md-4">
			<br>
			{% if model.is_hidden %}
			<div class="panel panel-danger">
			{% else %}
			<div class="panel panel-primary">
			{% endif %}
				<div class="panel-heading">
					<h3 class="panel-title">{{ model.title }}</h3>
				</div>
				<div class="panel-body">
					<p>Categories:
						{% for category in model.categories.all %}
						<a href="{% url 'search' %}?category={{ category.name }}"><span class="label label-default">{{ category.name }}</span></a>
						{% endfor %}
					</p>
					<p>Tags:
						{% for k, v in model.tags.items %}
						<a href="{% url 'search' %}?tag={{ k }}={{ v }}"><span class="label label-default">{{ k }}={{ v }}</span></a>
						{% endfor %}
					</p>
					<p>Description:</p>
					<p>{{ model.rendered_description|safe }}</p>
					<p>Uploaded by <a href="{% url 'user' model.author.username %}"><span class="label label-default">{{ model.author.username }}</span></a> on {{ model.upload_date|date:"c" }}</p>
					{% if user.is_authenticated and user.profile.is_admin %}
					{% if model.is_hidden %}
					<strong>This model is hidden</strong>
					{% endif %}
					<form action="{% url 'hide' %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="model_id" value="{{ model.model_id }}">
						<input type="hidden" name="revision" value="{{ model.revision }}">
						{% if model.is_hidden %}
						<input type="hidden" name="type" value="unhide">
						<button type="submit" class="btn btn-danger">Unhide Model</button>
						{% else %}
						<input type="hidden" name="type" value="hide">
						<button type="submit" class="btn btn-danger">Hide Model</button>
						{% endif %}
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Comments</h3>
			</div>
			<div class="panel-body">
				{% if user.is_authenticated and not user.profile.is_banned %}
				<form action="{% url 'addcomment' %}" method="post" onsubmit="return addComment();" id="comment_form">
					{% csrf_token %}
					<label for="comment">Add your comment:</label><br>
					<textarea cols="80" rows="6" id="comment" name="comment">{{ owner.profile.description }}</textarea><br>
					<input type="hidden" name="model_id" value="{{ model.model_id }}">
					<input type="hidden" name="revision" value="{{ model.revision }}">
					<input type="hidden" name="ajax" value="false">
					<button type="submit" class="btn">Submit</button>
				</form>
				<br>
				{% endif %}
				{% for comment in comments %}
				<div class="panel panel-default">
					<div class="panel-body">
						{{ comment.rendered_comment|safe }}
					</div>
					<div class="panel-footer">
						<a href="{% url 'user' comment.author.username %}">
							<span class="label label-default">{{ comment.author.username }}</span>
						</a>
						on {{ comment.datetime|date:"Y-m-d H:i" }}
						{% if model.revision != comment.model.revision %}
						(revision {{ comment.model.revision }})
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% if model.latitude and model.longitude %}
<script>
initMap("mapdiv", {{ model.latitude }}, {{ model.longitude }}, 750, 480);
</script>
{% endif %}
{% endblock %}
