<div class="col-md-4 col-sm-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><a href="{% url 'model' model_id=model.model_id %}">{{ model.description }}</a></h3>
		</div>
		<div>
			<a href="model.html"><img src="http://placehold.it/256x256" alt="Eiffel Tower"></a>
		</div>
		<div class="panel-body">
			<p>Categories:
				<a href="{% url 'search' %}?category=Monuments"><span class="label label-default">Monuments</span></a>
			</p>
			<p>Tags:
				<a href="{% url 'search' %}?tag=shape=pyramidal"><span class="label label-default">shape=pyramidal</span></a>
				<a href="{% url 'search' %}?tag=building=yes"><span class="label label-default">building=yes</span></a>
				<a href="{% url 'search' %}?tag=tourism=attraction"><span class="label label-default">tourism=attraction</span></a>
			</p>
			<p>Uploaded by <a href="{% url 'user' username=model.author.username %}"><span class="label label-default">{{ model.author.username }}</span></a> on 2017-03-28</p>
		</div>
	</div>
</div>
