<p>Faces: <span id="faceCount" class="stat-neutral">-</span></p>
<p>Meshes: <span id="meshCount" class="stat-neutral">-</span></p>
<p>Triangle Density: <span id="triangleDensity" class="stat-neutral">-</span></p>
<p>Materials: <span id="materialCount" class="stat-neutral">-</span></p>
<p>Bounding Box (W × H × D): <span id="boundingBox" class="stat-neutral">-</span></p>
<p>Model Scale (X × Y × Z): <span id="modelScale" class="stat-neutral">-</span></p>
<p>Animations Present: <span id="hasAnimations" class="stat-neutral">-</span></p>


