{% extends "mainapp/layout.html" %}
{% block pagename %}{{ model.title }}{% endblock %}
{% block headadditions %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainapp/lib/leaflet.css' %}">
<script src="{% static 'mainapp/lib/leaflet.js' %}"></script>
<style>
	#mapdiv {
		width: 750px;
		height: 480px;
	}
	.render-pane {
		min-height: 480px;
	}
</style>
<script>
	var model_id = {{ model.model_id }};
	var revision = {{ model.revision }};
</script>
<link rel="preload" href="/api/model/{{ model.model_id }}/{{ model.revision }}" as="fetch" crossorigin>
{% load static %}
{% load compress %}
{% compress js %}
<script src="{% static 'mainapp/map.js' %}"></script>
{% endcompress %}
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<br>
		<div class="col-md-12">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#view" role="tab">3D View</a></li>
				{% if model.location %}
				<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#map" role="tab">Map</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="col-md-8" style="margin-bottom: 20px;">
			<div id="model-status"></div>
			<div id="model-preview">
				<div class="tab-content" style="overflow: hidden;">
					<div class="tab-pane active" id="view" role="tabpanel">
						<div class="render-pane" data-model="{{ model.model_id }}" data-revision="{{ model.revision }}" id="render-pane{{ model.model_id }}.{{ model.revision }}" style="height: 480px;">
							<div id="fullscreen-button">&#x26F6;</div>
							<div id="labels-container"></div>
							<div id="scale-container" style="display: none;">
								<span>Grid Spacing:</span> 
								<span id="grid-spacing-value">-</span>
							</div>
						</div>
					</div>
					{% if model.location %}
					<div class="tab-pane" id="map" role="tabpanel">
						<div id="mapdiv">
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div>
		<div class="col-md-4">
			{% if model.is_hidden %}
			<div class="panel panel-danger">
			{% else %}
			<div class="panel panel-primary">
			{% endif %}
				<div class="panel-heading">
					<h3 class="panel-title">{{ model.title }}</h3>
				</div>
				<div class="panel-body">
					<p>3DMR tag: <a target="_blank" href="https://overpass-turbo.eu/?w=%223dmr%22%3D%22{{ model.model_id }}%22+global&R#"><strong>3dmr={{ model.model_id }}</strong></a></p>
					{% if model.categories.all %}
					<p>Categories:
						{% for category in model.categories.all %}
						<a href="{% url 'search' %}?category={{ category.name }}"><span class="label label-default">{{ category.name }}</span></a>
						{% endfor %}
					</p>
					{% endif %}
					{% if model.tags.items %}
					<p>Tags:
						{% for k, v in model.tags.items %}
						<a href="{% url 'search' %}?tag={{ k }}={{ v }}"><span class="label label-default">{{ k }}={{ v }}</span></a>
						{% endfor %}
					</p>
					{% endif %}
					{% if model.rendered_description %}
					<p>Description:</p>
					<p>{{ model.rendered_description|safe }}</p>
					{% endif %}
					<p>Uploaded by <a href="{% url 'user' model.author.profile.uid %}"><span class="label label-default">{{ model.author.profile.display_name }}</span></a> on {{ model.upload_date|date:"c" }}</p>
					{% if model.source %}
					<p>From: 
						{% if model.source_is_url %}
						<a href="{{ model.source }}">Original Source</a>
						{% else %}
						{{ model.source }}
						{% endif %}
					</p>
					{% endif %}
					<p>{{ license }}</p>
					<a href="{% url 'get_model' model.model_id model.revision %}" class="btn btn-default" role="button">Download</a>
					{% if user.is_authenticated and model.author == user or user.profile.is_admin %}
					<a href="{% url 'edit' model.model_id model.revision %}" class="btn btn-default" role="button">Edit Metadata</a>
					{% endif %}
					{% if user.is_authenticated and model.author == user %}
					<a href="{% url 'revise' model.model_id %}" class="btn btn-default" role="button">Revise</a>
					{% endif %}
					{% if user.is_authenticated and user.profile.is_admin %}
					{% if model.is_hidden %}
					<strong>This model is hidden</strong>
					{% endif %}
					<p>
						<form action="{% url 'hide_model' %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="model_id" value="{{ model.model_id }}">
							<input type="hidden" name="revision" value="{{ model.revision }}">
							{% if model.is_hidden %}
							<input type="hidden" name="type" value="unhide">
							<button type="submit" class="btn btn-danger">Unhide Model</button>
							{% else %}
							<input type="hidden" name="type" value="hide">
							<button type="submit" class="btn btn-danger">Hide Model</button>
							{% endif %}
						</form>
					</p>
					<p>
						<form action="{% url 'delete_model' %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="model_id" value="{{ model.model_id }}">
							<button type="submit" class="btn btn-danger">Delete Model</button>
						</form>
					</p>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-4">
			{% if model.is_hidden %}
			<div class="panel panel-danger">
			{% else %}
			<div class="panel panel-primary">
			{% endif %}
				<div class="panel-heading">
					<h3 class="panel-title">Model Stats</h3>
				</div>
				<div class="panel-body">
					{% include 'mainapp/model_stats.html' %}
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<script>
{% if model.location %}
initMap("mapdiv", {{ model.location.latitude }}, {{ model.location.longitude }}, 750, 480);
{% endif %}
</script>
{% endblock %}
{% block footeradditions %}
<script type="module" src="{% static 'mainapp/main.bundle.js' %}"></script>
<script>
	window.addEventListener("load", function() {
		setUpRenderPane();
		setUpStats();
	});
</script>
{% endblock %}
