{% extends "mainapp/layout.html" %}
{% block pagename %}Search Results{% endblock %}
{% load static %}
{% block headadditions %}
<style>
	.render-pane {
		min-height: 256px;
	}
</style>
<script type="importmap">
	{
		"imports": {
			"three": "{% static '/mainapp/lib/three/three.module.js' %}",
			"three/addons/": "{% static 'mainapp/lib/three/' %}"
		}
	}
</script>
{% for model in models %}
<link rel="preload" href="/api/model/{{ model.model_id }}/{{ model.revision }}" as="fetch" crossorigin>
{% endfor %}
{% endblock %}
{% block body %}
<div class="container">
	<div class="col-12">
		<div class="page-header">
			<h1>Search Results
			{% if query %}
			<small>'{{ query }}'{% if tag or category %},{% endif %}</small>
			{% endif %}
			{% if category %}
			<small>category '{{ category }}'{% if tag %},{% endif %}</small>
			{% endif %}
			{% if tag %}
			<small>tag '{{ tag }}'</small>
			{% endif %}
			</h1>
		</div>
	</div>
	{% if models %}
	<div class="row flex">
		{% for model in models %}
			{% include "mainapp/modelpanel.html" %}
		{% endfor %}
	</div>
	{% endif %}
	{% if paginator %}
	<div class="row" style="margin-bottom:30px;text-align:center;">
		<div class="btn-group" role="group" aria-label="...">
			{% for page in paginator.page_range %}
			{% if page == page_id %}
			<a class="btn btn-primary disabled">{{ page }}</a>
			{% else %}
			<a href="{% url 'search' %}{{ url_params }}&page={{ page }}" class="btn btn-default">{{ page }}</a>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	{% else %}
	<p>No models were found with those parameters.</p>
	{% endif %}
</div>
{% endblock %}
{% block footeradditions %}
<script type="module" src="{% static 'mainapp/preview.js' %}"></script>
<script>
	function displayPreview(elementId, model_id, revision, options) {
		const url = "/api/model/" + model_id + "/" + revision;

		if(typeof options === 'undefined')
			options = {};

		const three = initTHREE(elementId, options);
		loadGLB(url, options, three);
	}

	window.addEventListener("load", function() {
		const elems = document.querySelectorAll('div.render-pane');
		
		for(const elem of elems) {
			const model_id = elem.dataset.model;
			const revision = elem.dataset.revision;
			displayPreview(elem.id, model_id, revision);
		}
	});
</script>
{% endblock %}
