{% extends "mainapp/layout.html" %}
{% block pagename %}Search Results{% endblock %}
{% block headadditions %}
<style>
	.col-md-4.col-sm-6 .panel-body div:first-of-type {
		text-align: center;
		margin-bottom: 10px;
	}

	.col-md-4.col-sm-6 img {
		width: 100%;
		max-height: 256px;
		object-fit: cover;
	}

	.row.flex {
		display: flex;
		flex-wrap: wrap;
	}

	.col-md-4 .panel-body > p {
		line-height: 1.5em;
	}
</style>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="page-header">
			<h1>Search Results <small>'eiffel'</small></h1>
		</div>
		{% include "mainapp/modelpanel.html" %}
		{% include "mainapp/modelpanel.html" %}
		{% include "mainapp/modelpanel.html" %}
		{% include "mainapp/modelpanel.html" %}
	</div>
	<div class="row" style="margin-bottom:30px;text-align:center;">
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-primary disabled">1</button>
			<button type="button" class="btn btn-default">2</button>
			<button type="button" class="btn btn-default">3</button>
			<button type="button" class="btn btn-default">...</button>
			<button type="button" class="btn btn-default">10</button>
		</div>
	</div>
</div>
{% endblock %}
