{% extends "mainapp/layout.html" %}
{% block pagename %}Upload Model{% endblock %}
{% block headadditions %}
{% load static %}
{% load compress %}
{% compress css inline %}
<link rel="stylesheet" href="{% static 'mainapp/lib/leaflet.css' %}">
{% endcompress %}
{% compress js %}
<script src="{% static 'mainapp/lib/leaflet.js' %}"></script>
{% endcompress %}
{% endblock %}
{% block body %}
<div class="container">
	<div class="col-12">
		<h1>Upload Model</h1>
		<p>Here, you can upload a model to the repository.</p>
		<p>Please upload your 3D model as a single <strong>GLB</strong> file. </p>
		<p>Ensure your model is fully packaged as a <code>.glb</code> file before uploading, meaning it should include all textures and resources embedded within the file.</p>
		<p>Also, make sure the file size is less than {{ max_model_size }} MB and that the glTF binary is a valid model and not empty.</p>
		{% with form_metadata=True %}
		{% with form_file=True %}
		{% include 'mainapp/modelform.html' %}
		{% endwith %}
		{% endwith %}
	</div>
</div>
{% endblock %}
