{% extends "mainapp/layout.html" %}
{% block pagename %}Upload Model{% endblock %}
{% block headadditions %}
<style>
	body {
		padding-bottom: 50px;
	}
</style>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<h1>Upload Model</h1>
		<p>Here, you can upload a model to the repository.</p>
		<p>First, make sure to package your model correctly: make sure it's in the OpenCOLLADA format, rename it to 'model.dae', then zip it up along with the texture it uses.</p>
		<p>Then, simply fill the fields below and upload your model!</p>
		<form action="{% url 'addmodel' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
				<label for="title">Name:</label>
				<input type="text" class="form-control" id="title" name="title" placeholder="Eiffel Tower" value="{{ data.title }}">
			</div>
			<div class="form-group">
				<label for="desc">Description:</label>
				<textarea cols="80" rows="5" class="form-control" id="desc" name="description">{{ data.description }}</textarea>
			</div>
			<div class="form-group">
				<label for="tags">Tags:</label>
				<input type="text" class="form-control" id="tags" name="tags" placeholder="shape=pyramidal, building=yes" value="{{ data.tags }}">
			</div>
			<div class="form-group">
				<label for="categories">Categories:</label>
				<input type="text" class="form-control" id="categories" name="categories" placeholder="monuments, tall" value="{{ data.categories }}">
			</div>
			<div class="form-group">
				<label for="location">Location:</label>
				<!-- TODO: use a slippy map for this -->
				<input type="text" class="form-control" id="location" name="location" placeholder="2.294481,48.858370" value="{{ data.location }}">
			</div>
			<div class="form-group">
				<label>License</label>
				{% for k, name in licenses.items %}
				<div class="radio">
					<label><input type="radio" name="license" value="{{ k }}" {% if data.license == k|stringformat:'i' %}checked{% endif %}>{{ name }}</label>
				</div>
				{% endfor %}
			</div>
			<div class="form-group">
				<label for="file">Model Zip</label>
				<input type="file" id="file" name="file">
			</div>
			<button type="submit" class="btn btn-default">Upload Model</button>
		</form>
	</div>
</div>
{% endblock %}
