{% extends "mainapp/layout.html" %}
{% block pagename %}Userpage{% endblock %}
{% block headadditions %}
<style>
	.col-md-4 > img {
		display: block;
		margin: 0px auto;
	}

	.col-md-4 > table {
		width: 100%;
	}
</style>
<script>
function enableEdit() {
	document.getElementById("editForm").style.display = "block";
	document.getElementById("editButton").style.display = "none";
}
</script>
{% load static %}
<script src="{% static 'mainapp/lib/three.js' %}"></script>
<script src="{% static 'mainapp/lib/OBJLoader.js' %}"></script>
<script src="{% static 'mainapp/lib/MTLLoader.js' %}"></script>
<script src="{% static 'mainapp/lib/OrbitControls.js' %}"></script>
<script src="{% static 'mainapp/lib/zip.js' %}"></script>
<script src="{% static 'mainapp/lib/zip-ext.js' %}"></script>
<script src="{% static 'mainapp/preview.js' %}"></script>
<script>
{% for model in owner.models %}
displayPreview("render-pane{{ model.model_id }}.{{ model.revision }}", 227, 227, {{ model.model_id }}, {{ model.revision }});
{% endfor %}
</script>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<h1>{{ owner.username }}'s user page</h1>
		<div class="col-md-8">
			<div class="row">
				<div id="description">
					{{ owner.profile.rendered_description|safe }}
					{% if user.username == owner.username %}
					<form action="{% url 'editprofile' %}" method="post" id="editForm">
						{% csrf_token %}
						<label for="desc">Description:</label><br>
						<textarea cols="80" rows="6" id="desc" name="desc">{{ owner.profile.description }}</textarea><br>
						<button type="submit" class="btn">Submit</button>
					</form>
					<button type="button" class="btn" onclick="enableEdit();" style="display: none;" id="editButton">Edit Description</button>
					{% endif %}
				</div>
				<h2>{{ owner.username }}'s models</h2><br>
				{% with hide_user=True %}
				{% for model in owner.models %}
				{% include "mainapp/modelpanel.html" %}
				{% endfor %}
				{% endwith %}
			</div>
			<script>
				document.getElementById("editForm").style.display = "none";
				document.getElementById("editButton").style.display = "block";
			</script>
			<div class="row" style="margin-bottom:30px;text-align:center;">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-primary disabled">1</button>
					<button type="button" class="btn btn-default">2</button>
					<button type="button" class="btn btn-default">3</button>
					<button type="button" class="btn btn-default">...</button>
					<button type="button" class="btn btn-default">10</button>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			{% if owner.avatar %}
			<img src="{{ owner.avatar }}" alt="">
			{% endif %}
			<h2>Latest Changes</h2>
			<table>
				<tr>
					<th>Type</th>
					<th>Model</th>
					<th>Date</th>
				</tr>
				<tr>
					<td>Upload</td>
					<td><a href="#">Eiffel Tower 2</a></td>
					<td>2017-06-13 14:53</td>
				</tr>
				<tr>
					<td>Edit</td>
					<td><a href="#">Eiffel Tower</a></td>
					<td>2017-06-13 10:32</td>
				</tr>
				<tr>
					<td>Edit</td>
					<td><a href="#">Eiffel Tower</a></td>
					<td>2017-06-13 09:17</td>
				</tr>
				<tr>
					<td>Upload</td>
					<td><a href="#">Eiffel Tower</a></td>
					<td>2017-06-13 08:44</td>
				</tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}
