name: test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      POSTGRES_DB: 3dmr
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: 3dmr
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      
    - name: Download glTF Validator
      run: |
        curl -L -o gltf_validator.tar.xz https://github.com/KhronosGroup/glTF-Validator/releases/download/2.0.0-dev.3.10/gltf_validator-2.0.0-dev.3.10-linux64.tar.xz
        mkdir gltf_validator
        tar -xf gltf_validator.tar.xz -C gltf_validator
        chmod +x gltf_validator/gltf_validator

    - name: Add validator to PATH
      run: echo "${{ github.workspace }}/gltf_validator" >> $GITHUB_PATH

    - name: Collect static files
      run: |
        python manage.py collectstatic --noinput 

    - name: Run migrations
      run: |
        python manage.py makemigrations
        python manage.py migrate

    - name: Run tests
      run: |
        python manage.py test