name: test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      POSTGRES_DB: 3dmr
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: 3dmr
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      
    - name: Set MODEL_DIR to /tmp
      run: echo "MODEL_DIR=/tmp/models" >> $GITHUB_ENV

    - name: Create the model directory
      run: mkdir -p /tmp/models

    - name: Collect static files
      run: |
        python manage.py collectstatic --noinput 

    - name: Run migrations
      run: |
        python manage.py makemigrations
        python manage.py migrate

    - name: Run tests
      run: |
        python manage.py test